# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.pdf
/Practica 3/Practica3/nbproject/private/
/Practica 3/Practica3/build/
*.xml

*.mf

*.properties

*.DS_Store
/Practica 3/Practica3_Ej2/nbproject/private/
/Practica 3/Practica3_Ej2/build/
/Practica 4/Aplicacion/nbproject/private/
/Practica 3/Practica3_Ej1/build/
/Practica 4/Aplicacion/build/
/Nueva Carpeta/Prueba/nbproject/private/
/Nueva Carpeta/Prueba/build/
/Practica 4/Aplicacion/dist/
/Practica 4/Aplicacion/aplicacion/nbproject/private/
/Practica 4/Aplicacion/aplicacion/build/
/Practica 4/Aplicacion/aplicacion/dist/
/Aplicacion/nbproject/private/
/Nueva Carpeta/Aplicacion/nbproject/private/
/Practica 5/Aplicacion/build/
/Practica 5/Aplicacion/nbproject/private/
/Practica 5/Paint2DGraphics/build/
/Practica 6/Paint2DGraphics/nbproject/private/
/Practica 6/Paint2DGraphics/build/
/Practica 6/PaintBasico2D/nbproject/private/
/Practica 6/PaintBasico2D/build/
/Practica 7/SM.FTM.Biblioteca/nbproject/private/
/Practica 7/PaintBasico2D/nbproject/private/
/Practica 7/PaintBasico2D/build/
/Practica 7/SM.FTM.Biblioteca/dist/
/Practica 7/SM.FTM.Biblioteca/build/